// 样式重置模块
body
h1
h2
h3
h4
h5
ul
dl
dd
p
  margin 0

ul
ol
li
dl
dt
dd
tr
td
  padding 0


a
  text-decoration none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

li
  list-style none

// 去除 button 默认样式
button
  display flex
  align-items center
  margin 0
  padding 0
  overflow visible
  border-radius 0
  color inherit
  line-height 1
  font-size inherit
  background none
  &::after
    border none
