@font-face {
  font-family: "iconfont"; /* Project id 1736375 */
  src: url('//at.alicdn.com/t/font_1736375_yi2se7iwu6i.woff2?t=1647164585615') format('woff2'),
       url('//at.alicdn.com/t/font_1736375_yi2se7iwu6i.woff?t=1647164585615') format('woff'),
       url('//at.alicdn.com/t/font_1736375_yi2se7iwu6i.ttf?t=1647164585615') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e642";
}

.icon-contact-girl:before {
  content: "\e603";
}

.icon-contact:before {
  content: "\e68c";
}

.icon-search:before {
  content: "\e6d2";
}

.icon-miniapp-logo:before {
  content: "\e61e";
}
